body{
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
    
}

.main-login{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, #7c2ae8, #b908bd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.aba-esquerda{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aba-esquerda > h1 {
    color: #f4f8f6;
}

.aba-esquerda > img{
    width: 50%;
}

.aba-direita{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #570f78;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #f4f8f6;
    font-weight: 800;
    margin: 0;
}

.text-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.text-card > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-card > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.text-card > input::placeholder{
    color: #f6f7f794;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #fffeff;
    background: #7c006a;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

